/.idea/shelf/Changes.xml
/.idea/shelf/Changes1.xml
/.idea/shelf/Changes2.xml
/.idea/shelf/Changes3.xml
/.idea/shelf/Day_3.xml
/.idea/shelf/Day_22.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Changes/shelved.patch
/.idea/shelf/Changes1/shelved.patch
/.idea/shelf/Changes2/shelved.patch
/.idea/shelf/Changes3/shelved.patch
/.idea/shelf/Day_3/shelved.patch
/.idea/shelf/Day_22/shelved.patch
/.idea/vcs.xml
/.idea/workspace.xml
